
<div *ngIf="!film" class="error border eachData">
  <img src="https://mcyprian.fedorapeople.org/loading.gif" alt="*">
</div>

<div *ngIf="film" class="border film">
   <div class="title eachData">
     <h2>
        <img src="https://vignette.wikia.nocookie.net/disney/images/8/8b/Starwars-logo.png/revision/latest?cb=20141129122237" alt="*">
          "{{ film.title }}", episodio {{film.episode_id}}
     </h2>
   </div>

   <div  class="data">
     <div class="eachData">
       <p><strong>Director:</strong> {{film.director}}</p>
     </div>
     <div class="eachData">
       <p><strong>Producida por:</strong> {{film.producer}}</p>
     </div>
     <div class="eachData">
       <p><strong>Fecha de estreno:</strong> {{film.release_date}}</p>
     </div>
   </div>

   <div class="eachData">
     <p><strong>Sinopsis</strong></p>
     <p>{{film.opening_crawl}}</p>
   </div>

   <div class="eachData btn">
     <button pButton type="button" [routerLink]="['/']" label="Volver al menu"  class="ui-button-info"></button>
   </div>

</div>
