
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  background-image: url("https://images4.alphacoders.com/226/thumb-1920-226928.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;
  border-bottom: 5px ridge gray;
}

.left{
  width: 10%;

}

.center{
  width: 20%;
}

.right{
  width: 10%;
}

img{
  width: 100%;
}
